name: Code Linting
on: [pull_request]
jobs:
  biome:
    name: runner / biome
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'yarn'
      - run: yarn install
      - name: biome
        uses: mongolyy/reviewdog-action-biome@v2.8.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
